.columna {  width: 25%; text-align-last: center   ; margin-left: 5px; margin-right: 5px;margin-top: 19px; color:rgb(11, 4, 107);padding: 13px; background-color: #ebebeb !important;border: 3px solid #4b1aa5; }

.padre {  display:flex;  }